/* SKHS NJROTC Footer Style Module

  Created by Tristin H. 2022 */

footer {
  background: #111111;
  padding: 15px 23px;
  overflow: hidden !important;
  color: #ffffff;
  height: inherit;
  text-align: center;
  font-family: var(--body-font-families);
  margin-bottom: 2rem;
}

footer span a {
  color: var(--accent-color);
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}